* {
    margin: 0;
    padding: 0;
}

body {
    margin: 3em;
    font-family: 'Times New Roman', Times, serif;
    overflow: scroll;
}

::selection {
    background-color: #c9e4c1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9e6d2;
    padding: 1em;
    z-index: 10;
}

header:first-of-type {
    margin-right: 2em;
    
}

header>a {
    width: 100%;
    min-height: 75px;
    display: inline-block;
    background-color: orange;
    border-radius: 5em;
    margin-bottom: 1em;
    padding: 0.75em;
    text-decoration: none;
}

header a div {
    padding: 2% 1%;
    max-width: max-content;
    min-height: max-content;
    font-size: 200%;
    color: white;
    background-color: #744e1c;
    border-radius: 50%;
}

header a div:hover {
    background-color: #000000;
}

.pls::before {
    content: "PLS";
    font-weight: bold;
    text-decoration: none;
}

nav {
    background-color: white;
    display: inline-block;
}

nav ul {
    position: relative;
    background-color: white;
    list-style-type: none;
    width: 100%;
}

nav ul li {
    margin-right: 1em;
    background-color: white;
    float: left;
}

nav ul li a {
    color: black;
    background-color: white;
    padding: 0;
    text-decoration: underline;
}

h1, h2 {
    border-bottom: #e0e0e0 solid 1px;
}

section section {
    display: inline-block;
    margin: 0em 1em;
}

.paradigm-list {
    padding-left: 2em;
    font-style: italic;
    list-style-type: circle;
}

p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.sq {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

.sq::before {
    content: "'";
}

.sq::after {
    content: "'";
}

p::first-letter {
    font-size: 150%;
    font-weight: bold;
}

.tab p::first-letter {
    font-size: 100%;
}

.tab p:first-of-type::first-letter {
    font-size: 5em;
    font-weight: bold;
    line-height: 1;
    float: left;
    margin-right: 0.1em;
    margin-top: 0.1em;
    color: red;
    text-shadow: 3px 3px 3px #000000;
}

.tab-set {
    display: inline-block;
    padding: 2em;
}

ul.tab-labels {
    list-style-type: none;
    display: flex;
    justify-content: left;

}

li.tab-label {
    background-color: #fece82;
    padding: 0.5em;
    border: #000000 solid 1px;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    
}

li.tab-label:hover:not(.active) {
    background-color: #744e1c;
}

li.tab-label:not(.active) a:hover {
    color: white;
}

li.tab-label a {
    color: black;
    text-decoration: none;
}

li.active {
    background-color: #febe6f;
    border-bottom: none;
}

.tab {
    display: none;
    border: #000000 solid 1px;
    border-top: none;
    padding: 1em;
    overflow: hidden;
}

.tab.active {
    position: relative;
    display: block;
    background-color: #febe6f;
}

code {
    display: block;
    line-height: 1em;
    width: fit-content;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fef2e0;
    border-radius: 5px;
    border: #000000 solid 1px;
}

section>ul:not(.tab-labels, .paradigm-list) {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

section>ul:first-of-type:not(.tab-labels, .paradigm-list) {
    padding-top: 0;
}

.language {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
}

.business-card {
    border: #000000 solid 1px;
    margin: 1em;
}

div.business-card header{
    color: white;
    background-color: #744e1c;
    padding: 0.8em 0;
    width: 100%;
}

div.business-card header h1 {
    text-decoration-line: none;
    border: none;
    text-align: center;
    font-size: 125%;
}

.business-card-body {
    margin: 1em;
    overflow: hidden;
}

.tab-set .business-card {
    background-color: white;
}

div.business-card .contact ul {
    list-style-type: none;
    float: right;
    display: flex;
}

div.business-card .contact ul li {
    margin-right: 0.25em;
    padding: 0.25em;
    justify-content: center;
    border: gray solid 1.5px;
    background-color: #fcbe6f;
}

.phone::before {
    content: "ph: ";
}

.email::before {
    content: "em: ";
}

button.business-card-button {
    background-color: #744e1c;
    color: white;
    font-weight: bold;
    font-size: 75%;
    border: none;
    padding: 1em 0;
    width: 100%;
}

.business-card img {
    float: left;
    margin: 1em 1em 1em 0;
}

.portrait {
    border-radius: 50%;
    float: right;
    max-width: 20%;
    border-style: solid;
    border-width: 2px;

}

.avatar {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.shadowed {
    box-shadow: 3px 3px 3px #000000;
}
