* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    min-height: 100%;
    background: url("../assets/cork-wallet.png") repeat;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff2cc;
    padding: 1em 1em;
}

header h5 {
    padding-top: 0.2em;
    color: #84796f;
}

form {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #786149;
    padding: 0.5em 0.5em;
}

form input[type~="text"] {
    border: none;
    border-radius: 2px;
    margin-right: 0.5em;
}

form input[type~="submit"] #text {
    color: #fff;
    padding: 0.5em;
    ;
}

section.card-container {
    background-image: url("../assets/cork-wallet.png");
    background-repeat: repeat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    align-items: stretch;
    column-gap: 1em;
    row-gap: 2em;
    margin: 1em 5em;
}

@media screen and (max-width: 1600px) {
    section.card-container {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
}

@media screen and (max-width: 1200px) {
    section.card-container {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}

@media screen and (max-width: 800px) {
    section.card-container {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

@media screen and (max-width: 400px) {
    section.card-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

div.card {
    background-color: #fff2cc;
    padding: 0.5em;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #626161;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.card button {
    position: absolute;
    top: -0.75em;
    left: -0.75em;

    font-size: 0.5em;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5em 0.75em;
    background-color: #720000;
    color: #720000;
    box-shadow: 1.5px 1.5px 1.5px black;
    width: 2.5em;
}

div.card button:hover {
    background-color: #fe0000;
    color: #fe0000;
    cursor: pointer;
}

div.card img {
    width: 100%;
    border-radius: 2px;
    padding-top: 1.5em;
}

div.card p {
    background-color: white;
    padding: 0.25em;
    border-radius: 2px;
}

footer {
    background-color: #fff2cc;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0 0.5em 0.5em;
}