/*
Marcus B Clements
CS202 HW3: Epicuriosity Recipes
Created 10/22/2024
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
}

header {
    background-color: #fd8001;
}

nav {
    display: inline-block;
    justify-content: left;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li:not(:first-of-type) a:hover {
    color: white;
}

nav ul li:first-of-type::before {
    content: "E";
    margin-right: 0.5em;
}

section.large-background {
    background-image: url("./assets/food.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    overflow: hidden;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

section.large-background h1 {
    padding: 3rem 2rem;
    font-size: 250%;
}

.recent-recipes {
    padding: 1em;
    overflow: scroll;
    padding-bottom: 10em;
}

.recipe {
    white-space: normal;
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    padding: 1em;
    width: 25%;
    margin-bottom: 1em;
    margin-right: 0.75em;
    justify-content: center;
    overflow: hidden;
}

.recipe p {
    width: 100%;
    line-height: 1.25em;
    text-align: center;
    margin: 0.5em 0;
}

.recipe:last-of-type {
    margin-right: 0.75em;
}

.social-icon {
    width: 1em;
}

.socials ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
}

.socials ul li {
    padding-top: 0.25em;
    margin-right: 1em;
}

.recipe-photo{
    filter: grayscale(25%);
    transition: filter 0.3s ease;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}

.recipe-photo:hover {
    filter: grayscale(0%);
}

.go {
    cursor: pointer;
    width: 100%;
    padding: 0.25em 0;
    border: 1px solid black;
    background-color: #ff9b01;
}

.go:hover {
    background-color: #613e00;
    color: white;
}

footer {
    overflow: hidden;
    width: 100%;
    background-color: #fd8001;
    position: fixed;
    bottom: 0;
    justify-content: left;
    border-top: 5px solid black;
}

footer .footer-content {
    width: 100%;
    display: flex;
    padding: 1em;
}

footer .footer-content div {
    width: 50%;
    display: inline-block;
    margin-right: 2em;
    overflow-wrap: normal;
}

footer .footer-copyright {
    background-color: black;
    color: lightgray;
    padding: 0.75em 0;
    text-align: center;
}