/*
Marcus B Clements
CS202 HW3: Epicuriosity Recipes
Created 10/22/2024
*/

* {
    margin: 0;
    padding: 0;
}

.social-icon {
    width: 1em;
}

.recipe-photo {
    width: 250px;
    height: auto;
}