/*
    Marcus B Clements
    CS202, Fall 2024
    Homework 6 (ajax)
    12/10/2024
*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: scroll;
}

body {
    font-family: "Righteous", sans-serif;
    font-size: 1em;
    min-height: 100%;
    background: url("./assets/cork-wallet.png") center repeat;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff2cc;
    padding: 1em 1em;
}

#title {
    display: flex;
    align-items: center;
    cursor: default;

}

#title img {
    width: 2em;
    height: auto;
    margin-right: 0.5em;
}

header h5 {
    padding-top: 0.6em;
    color: #84796f;
}

#subheading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #786149;
    padding: 0.5em 0.5em;
    position: sticky;
}

#country-forms {
    display: flex;
    justify-content: left;
    align-items: center;
}

#country-forms form * {
    margin-right: 0.5em;
    font-family: "Righteous", sans-serif;
}

#search-country-form * {
    padding: 0 0.25em;
}

#search-country-form input {
    min-width: 15em; /* Ensures placeholder text is always visible */
}

#add-country-form {
    display: none;
}

#add-country-form * {
    padding: 0 0.25em;
}

#wiki-links-toggle-container {
    margin-bottom: 0.2em;
}

#wiki-links-checkbox {
    margin-right: 0.33em;
}

#wiki-links-checkbox:checked {
    accent-color: green;
}

#country-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    align-items: stretch;
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em 5em;
}

@media screen and (max-width: 1300px) {
    #country-container {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}

@media screen and (max-width: 900px) {
    #country-container {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

@media screen and (max-width: 600px) {
    #country-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

.country-card {
    background-color: #fff2cc;
    padding: 1em;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #626161;
    display: flex;
    flex-direction: column;
    position: relative;
}

.country-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.country-card-details img.flag {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    border: 2px solid black;
}

.country-card-top {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.country-card-top button {
    font-family: "Righteous", sans-serif;
    margin-left: 1em;
    background-color: #fff2cc;
    font-weight: bolder;
    color: grey;
    border: 0;
}

.country-card-top button:hover {
    color: black;
    cursor: pointer;
}

.country-card-stats-list {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.country-card-stats-list ul {
    list-style-type: none;
    text-wrap: wrap;
}

.country-card-stats-list ul:first-of-type {
    margin-right: 0.5em;
}

.country-card-stats-list li {
    margin-bottom: 0.5em;
}

.wiki-links-container {
    display: inline-block;
}

.wiki-article {
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}

.wiki-article a {
    padding: 0.5em;
    display: block;
    color: blue;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #e1ded3;
    border-bottom: 1px solid grey;
    border-radius: 5px 5px 0 0;
}

.wiki-article p {
    padding: 0.5em;
    background-color: #fdf7e8;
    border-radius: 0 0 5px 5px;
}

.searchmatch {
    background-color: yellow;
}

#footer-spacer {
    visibility: hidden;
    bottom: 0;
    height: 35px;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #84796f;
    background-color: #fff2cc;
    padding: 0.5em;
}